<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
<head>
	<meta charset="UTF-8">
	<title>Note Wrangler</title>
	<!-- 1.1 We'll link to bootstrapcdn here. -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
<!--
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
-->
            <div class="navbar-brand">
                <a href="/">NoteWrangler</a>
            </div>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/#/notes">Notes</a></li>
                <li><a href="/#/users">Users</a></li>
            </ul>
        </div>
    </nav>
	
	<div class="container-fluid" ng-view></div>
	
	<!--- SCRIPTS --->
	

	
	
<!--
	    <h1>Notes <a href="/#/notes/new" class="btn btn-default">New Note</a></h1>
	
        <div class="form-group">
            Search: <input type="text">
        </div>
	
        <div class="row">
            <div class="col-md-6">
                <h2><a href="#">My Note title</a></h2>
                <p>This is a note description</p>
                <p><span class="label label-info">category name
                </span></p>
            </div>
        </div>
-->
	
	<!-- 1. First let's go get our dependencies for the project. We'll need Bootstrap, jQuery, AngularJS ngRouter, and ngResource -->

	<!-- 1.2 link to jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- 1.3 links to AngularJS -->
	<!-- These files were downloaded from http://code.angularjs.org/1.3.9/ -->
	
	<!--- VENDOR --->
	
<!--	<script src="/assets/js/vendor/jquery-2.1.3.min.js"></script>-->
	<script src="/assets/js/vendor/angular.js"></script>
	<script src="/assets/js/vendor/angular-route.js"></script>
	<script src="/assets/js/vendor/angular-resource.js"></script>
	
	<!--- APP --->
<script src="/assets/js/app.js"></script>

<!--- CONTROLLER --->

<script src="/assets/js/controllers/NotesIndexController.js"></script>
<script src="/assets/js/controllers/NoteShowController.js"></script>
<script src="/assets/js/controllers/NoteEditController.js"></script>



<!--- DIRECTIVES --->

<script src="/assets/js/directives/nwNote.js"></script>



</body>
</html>